<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129511160-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-129511160-2');
  </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="./assets/img/ico_qualis_icon.png">
  <!--SEO-->
  <title>Qualis API</title>
  <meta name="description" content="Qualis API. Consulte o Qualis de um periódico (com ISSN) por meio de uma restful API. Consulta de classificação de periódicos, segundo estratos da Capes do Quadriênio 2013-2016, disponível por meio de uma RESTful API. Por meio de endpoints (URLs) o usuário tem acesso ao estrato Qualis de um periódico em todas as áreas de avaliação na qual ele se encontra. Os dados retornados estão em formato JSON. Para ter acesso aos dados de um periódico, por meio desta API, você deve: Utilizar o número de ISSN do periódico desejado para criar a URL do endpoint; Acessar o endpoint via URL criada; Obter os resultados. Conheça a ChromeQualis, uma extensão para o Google Chrome para consulta do Qualis de periódicos. Extensão ChromeQualis.">


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

  <!-- Icons -->
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Argon CSS -->
  <link type="text/css" href="./assets/css/argon-design-system.min.css" rel="stylesheet">

  <!--JSON viewer CSS-->
  <link type="text/css" href="./assets/js/json-viewer-master/src/json-viewer.css" rel="stylesheet">
  <link type="text/css" href="./assets/css/mystyles.css" rel="stylesheet">
  <link type="text/css" href="./assets/css/loader.css" rel="stylesheet">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <a class="navbar-brand" href="/">Qualis API</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
        aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="javascript:void(0)">
                <img alt="Logotigo da plataforma Qualis" src="./assets/img/ico_qualis_icon.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
                aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>

        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="/">
              HOME
              <span class="nav-link-inner--text d-lg-none">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="/about">
              ABOUT
              <span class="nav-link-inner--text d-lg-none">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#">
              DOCUMENTATION
              <span class="nav-link-inner--text d-lg-none">Profile</span>
            </a>
          </li>
          <!--Menu dropdown
          <li class="nav-item dropdown">
            <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DOCUMENTATION
              <span class="nav-link-inner--text d-lg-none">Settings</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          -->
        </ul>

      </div>
    </div>
  </nav>
  <!--end of navbar-->
  <!--Jumbotron-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1>QualisAPI</h1>
      <p>Consulta de classificação de periódicos, segundo estratos da Capes, disponível por meio de uma RESTful API.</p>
    </div>
  </div>
  <!--Seção 1-->
  <div class="section pt-0">
    <div class="container">
      <h2 class="text-center">Faça um teste!</h2>
      <div class="container px-5 bg-white">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-secondary">https://qualisapi.herokuapp.com/api/qualis/</span>
          </div>
          <input type="text" class="form-control" style="padding-left: 15px;" value="v1/issn/0101-9031" id="issn">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" id="btnSubmit"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="section p-0" id="alertMsgBox"></div>
      </div>
      <div class="container px-5 mt-2">
        <p>Quer uma dica para Qualis 2013-2016? Tente:
          <span class="hints">v1/issn/0028-0836</span>,
          <span class="hints">v1/issn/1982-873X</span>,
          <span class="hints">v1/issn/0101-9031</span>,
          <span class="hints">v1/issn/0101-9031/B1</span>.
        </p>
        <p>Quer uma dica para Qualis 2017-2018? Tente:
          <span class="hints">v2/issn/0028-0836</span>,
          <span class="hints">v2/issn/1982-873X</span>,
          <span class="hints">v2/issn/0101-9031</span>.
        </p>
        <p>Link para os resultados: <a href="#" id="directresults" target="_blank"></a></p>
      </div>
      <div class="container px-5 mt-2">
        <div id="json" class="bg-secondary">
          <div id="loader" class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="container px-5 mt-3">
        <div class="row">
          <div class="col-md-6">
            <h4 class="text-center">O que é QualisAPI?</h4>
            <div class="text-justify bg-secondary p-4">
              <p>O QualisAPI é um recurso que permite consultar o estrato Qualis de um periódico, nas classificações do quadriênio 2013-2016 e a mais recente 2017-2018, por meio de uma busca pelo seu respectivo número ISSN. Obs.: os dados referentes a classificação de 2019, não são oficiais mas sim uma prévia.</p>
              <p>Por enquanto apenas buscas por número de ISSN são permitidas, além de filtros por estratos (ex.: 0101-9031 ou 0101-9031/B1). No futuro serão implementadas as buscas por título do periódico.</p>
              <p>Essa API utiliza dados públicos do sistema Qualis Periódicos mas não visa o substituir. Pelo contrário, é um recurso extra para aqueles que buscam uma API para estudos, pesquisas, e desenvolvimento de aplicações diversas que porventura necessitam do estrato de periódicos.</p>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="text-center">Como funciona?</h4>
            <div class="text-justify bg-secondary p-4">
              <p>
                Por meio de endpoints (URLs) o usuário tem acesso ao estrato Qualis de um periódico em todas as áreas de
                avaliação na qual ele se encontra. Os dados retornados estão em formato JSON. Para ter acesso aos dados de um periódico, por meio desta API, você
                deve:
              </p>
              <ol>
                <li>Utilizar o número de ISSN do periódico desejado para criar a URL do endpoint;</li>
                <li>Acessar o endpoint via URL criada;</li>
                <li>Obter os resultados.</li>
              </ol>
              <p>Esta API facilita o uso de dados da plataforma Qualis Periódicos para desenvolvimento de outras
                aplicações, como por exemplo a extensão para o Google Chrome <a href="https://chrome.google.com/webstore/detail/chromequalis/gpcehgmogffgjgdjdlcmkglfmgdmhfcj" target="_blank">ChromeQualis</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Footer-->
  <div class="footer container-fluid">
    <p class="text-center">Criado por <a href="http://andrebatista.me" target="_blank">André Luiz França Batista</a> com
      dados extraídos do sistema <a
        href="https://sucupira.capes.gov.br/sucupira/public/consultas/coleta/veiculoPublicacaoQualis/listaConsultaGeralPeriodicos.jsf"
        target="_blank">Qualis Periódicos</a> da <a href="https://sucupira.capes.gov.br/" target="_blank">plataforma
        Sucupira</a>.</p>
  </div>

  <!-- Core -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap.min.js"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="./assets/js/json-viewer-master/src/json-viewer.js"></script>
  <script src="./assets/js/core/consulta.js"></script>

  <!-- Optional plugins -->


  <!-- Argon JS -->
  <script src="./assets/js/argon-design-system.js"></script>
</body>

</html>